services:
  api:
    build:
      context: ./back
      dockerfile: Dockerfile.prod
    ports:
      - "${API_PORT}:3000"
    restart: always

  app:
    build:
      context: ./front
      dockerfile: Dockerfile.prod
    ports:
      - "${APP_PORT}:4000"
    restart: always

  database-master:
    restart: always

  database-slave-1:
    restart: always

  database-slave-2:
    restart: always
