services:
  api:
    build:
      context: ./back
      dockerfile: Dockerfile.prod
    restart: always
    networks:
      - traefik_traefik-proxy-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`${API_HOST}`)"
      - "traefik.docker.network=traefik_traefik-proxy-net"
      - "traefik.http.services.api.loadbalancer.server.port=3000"

  app:
    build:
      context: ./front
      dockerfile: Dockerfile.prod
    restart: always
    networks:
      - traefik_traefik-proxy-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app.rule=Host(`${APP_HOST}`)"
      - "traefik.http.services.app.loadbalancer.server.port=4000"
      - "traefik.docker.network=traefik_traefik-proxy-net"

  database-master:
    restart: always

  database-slave-1:
    restart: always

  database-slave-2:
    restart: always

  selenium-hub:
    restart: always

networks:
  traefik_traefik-proxy-net:
    external: true
