services:
  api:
    build:
      context: ./back
      dockerfile: Dockerfile.dev
    ports:
      - "${API_PORT}:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - ALLOWED_URL=http://${APP_HOST},http://localhost:${APP_PORT}
      - APP_URL=http://localhost:${APP_PORT}
      - API_URL=http://localhost:${API_PORT}
    develop:
      watch:
        - action: sync
          path: ./back/src
          target: /usr/src/app/src
          ignore:
            - node_modules/
        - action: rebuild
          path: ./back/package.json

    volumes:
      - ./back/.env:/usr/src/app/.env
      - api-data:/usr/src/app/data

  app:
    build:
      context: ./front
      dockerfile: Dockerfile.dev
    ports:
      - "${APP_PORT}:4200"
    develop:
      watch:
        - action: sync
          path: ./front/src
          target: /usr/src/app/src
          ignore:
            - node_modules/
        - action: rebuild
          path: ./front/package.json
    volumes:
      - ./front/public:/usr/src/app/public

  phpmyadmin:
    image: phpmyadmin:5.2
    ports:
      - "${PHPMYADMIN_PORT}:80"
    environment:
      PMA_USER: ${DB_USER}
      PMA_PASSWORD: ${DB_PASS}
      PMA_HOSTS: database-master,database-slave-1,database-slave-2
    networks:
      - gatuno-net

  redis-commander:
    image: ghcr.io/joeferner/redis-commander:0.8.1
    environment:
      - REDIS_HOSTS=local:redis:6379:0:${REDIS_PASSWORD}
    ports:
      - "${REDISCOMMANDER_PORT}:8081"
    networks:
      - gatuno-net

  database-master:
    ports:
      - "${DB_MASTER_EXTERNAL_PORT}:3306"

  database-slave-1:
    ports:
      - "${DB_SLAVE_1_EXTERNAL_PORT}:3306"

  database-slave-2:
    ports:
      - "${DB_SLAVE_2_EXTERNAL_PORT}:3306"

  selenium-hub:
    ports:
      - "${SELENIUM_HUB_PORT_1}:4442"
      - "${SELENIUM_HUB_PORT_2}:4443"
      - "${SELENIUM_HUB_PORT_3}:4444"
