$width: 250px;

.book-card {
	display: flex;
	background-color: var(--primary-color);
	border: 4px solid var(--primary-color);
	border-radius: 5px;
	overflow: hidden;
	transition: background-color 0.3s ease;
}

.grid {
	align-items: center;
	flex-direction: column;
	width: $width;

	img {
		width: 250px;
		height: 355px;
		object-fit: cover;
		border-radius: 15px;
	}

	.cover-placeholder {
		width: 250px;
		height: 355px;
		border-radius: 15px;
		background-color: var(--secondary-color);
		display: flex;
		align-items: center;
		justify-content: center;

		app-icons {
			width: 48px;
			height: 48px;
			color: var(--app-text-color);
			opacity: 0.4;
		}
	}

	.info {
		padding: 20px;
		border: 1px solid var(--primary-color);
		border-top: none;
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
		span {
			width: 100%;
			line-height: 1.2rem;
			font-size: 1rem;
			height: 2.4rem;
			display: -webkit-box;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}
}

.list {
	width: $width * 2.2;
	height: 275px;
	img {
		width: $width * 0.8;
		height: 100%;
		object-fit: cover;
		border-radius: 15px;
	}

	.cover-placeholder {
		width: $width * 0.8;
		height: 100%;
		border-radius: 15px;
		background-color: var(--secondary-color);
		display: flex;
		align-items: center;
		justify-content: center;

		app-icons {
			width: 48px;
			height: 48px;
			color: var(--app-text-color);
			opacity: 0.4;
		}
	}

	.info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding: 20px;
		border: 1px solid var(--primary-color);
		gap: 8px;

		.title {
			width: 100%;
			line-height: 1.2rem;
			font-size: 1rem;
			height: 2.4rem;
			display: -webkit-box;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			line-clamp: 2;
			-webkit-box-orient: vertical;
		}

		.tags {
			span {
				background-color: red;
			}
		}

		.description {
			width: 100%;
			line-height: 1.4rem;
			font-size: 0.8rem;
			height: 8.4rem;
			display: -webkit-box;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}
}
