.title-container {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;

	h2 {
		margin-bottom: 0;
	}
}

.loader-inline {
	display: flex;
	gap: 4px;

	.dot {
		width: 8px;
		height: 8px;
		background-color: var(--primary-color);
		border-radius: 50%;
		animation: pulse 1.5s infinite ease-in-out;

		&:nth-child(2) {
			animation-delay: 0.2s;
		}
		&:nth-child(3) {
			animation-delay: 0.4s;
		}
	}
}

@keyframes pulse {
	0%,
	100% {
		opacity: 0.3;
		transform: scale(0.8);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
}
