.container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	border: 4px solid var(--primary-color);
	cursor: pointer;
    
    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	transition: 0.3s;
	&.select {
		background-color: var(--primary-color);
	}
}
