@use '/dropdown-menu' as dropdown;

.context-menu {
	@include dropdown.dropdown-menu-base;
	position: fixed;
	z-index: 10001;
	pointer-events: auto;

	.menu-item {
		@include dropdown.dropdown-menu-item;

		.icon {
			@include dropdown.dropdown-menu-icon;
			margin-right: 10px;
		}

		.label {
			@include dropdown.dropdown-menu-label;
		}

		.shortcut {
			margin-left: 15px;
			font-size: 0.75rem;
			opacity: 0.6;
		}
	}

	.separator {
		@include dropdown.dropdown-menu-separator;
	}
}
