:host {
	display: inline-block;
}

button {
	display: flex;
	gap: 0.5rem;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	cursor: pointer;
	font-weight: 500;

	&.fill-full {
		background-color: var(--primary-color);
	}

	&.fill-border {
		background-color: transparent;
		border: 2px solid var(--primary-color);
		color: var(--primary-color);
	}

	&.fill-none {
		background-color: transparent;
	}

	&.rounded-none {
		border-radius: 2px;
	}

	&.rounded-small {
		border-radius: 8px;
	}

	&.rounded-medium {
		border-radius: 16px;
	}

	&.rounded-large {
		border-radius: 24px;
	}

	&.rounded-full {
		border-radius: 9999px;
	}

	&.padding-none {
		padding: 0;
		width: auto;
	}

	&.padding-normal {
		padding: 5px 15px;
	}

	&.radio-square {
		aspect-ratio: 1/1;
		padding: 5px;
	}

	&:focus {
		outline: 2px solid var(--app-text-color);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		background-color: rgb(from var(--black) r g b / 0.05);
	}

	&.btn-primary {
		color: var(--app-text-color);

		&:hover:not(:disabled) {
			background-color: var(--secondary-color);
		}
	}

	&.btn-outline {
		background-color: transparent;
		border: 2px solid var(--primary-color);
		color: var(--primary-color);

		&:hover:not(:disabled) {
			background-color: var(--primary-color);
			color: var(--app-text-color);
		}
	}

	&.btn-text {
		padding: 0 10px;
		border-radius: 5px;
		font-size: 1rem;

		&:hover:not(:disabled) {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}
}
