.aside-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;

	&.open {
		pointer-events: auto;
	}
}

.aside-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(from var(--black) r g b / 0.5);
	animation: fadeIn 0.3s ease-in-out;
}

.aside-content {
	position: absolute;
	top: 80px;
	width: 300px;
	max-width: 80%;
	height: 100%;
	background-color: var(--app-background-color);
	overflow-y: auto;
	padding: 0.6rem;
	will-change: transform;

	&:not([style*='calc']) {
		transition: transform 0.3s ease-in-out;
	}

	&.position-right {
		box-shadow: -2px 0 8px rgb(from var(--black) r g b / 0.15);
	}

	&.position-left {
		box-shadow: 2px 0 8px rgb(from var(--black) r g b / 0.15);
	}
}

.close-icon {
	cursor: pointer;
	padding: 0.5rem;

	&:hover {
		opacity: 0.7;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
