.switch-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: capitalize;
}

.checkmark {
	width: 34px;
	height: 15px;
	background-color: var(--gray-400);
	border-radius: 34px;
	transition: 0.4s;
	overflow: hidden;
	display: flex;

	&.checked .button {
		left: 20px;
	}

	.button {
		transition: 0.4s;
		left: 0;
		display: block;
		background-color: var(--white);
		height: 100%;
		aspect-ratio: 1/1;
		border-radius: 50%;
		box-shadow: 0 0 2px rgb(from var(--black) r g b / 0.5),
			-20px 0px 0px 10px var(--primary-color);
	}
}
input {
	display: none;
}
