:host {
	display: block;
	height: 100%;
	width: 100%;
}

.side-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.nav-header {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 10px 40px;

	width: 100%;
	height: 60px;
	border-bottom: 2px solid var(--app-text-color);

	.close-btn {
		background: none;
		border: none;
		cursor: pointer;
		color: var(--app-text-color);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		flex-shrink: 0;

		&:hover {
			opacity: 0.7;
		}
	}

	.brand {
		display: flex;
		align-items: center;
		gap: 10px;
		flex-grow: 1;

		.title {
			font-family: 'Inknut Antiqua', serif;
			font-weight: 500;
			font-size: 1.2rem;
			color: var(--app-text-color);
			margin: 0;
			line-height: 1;
		}

		#logo {
			transition: transform 0.3s;
			&.dark-theme {
				transform: translateY(-4px);
			}
		}
	}
}

.divider {
	background-color: var(--app-text-color);
	height: 1.5px;
	width: 100%;
	flex: none;
}

.nav-groups {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 15px 0;
}

.nav-item {
	display: flex;
	align-items: center;
	gap: 1rem;
	text-decoration: none;
	padding: 10px 20px;
	color: var(--app-text-color);
	transition: background-color 0.2s;

	&:hover {
		background-color: color-mix(
			in srgb,
			var(--primary-color) 10%,
			var(--app-background-color)
		);
	}

	.label {
		font-family: 'Inknut Antiqua', serif;
		font-weight: 500;
		font-size: 1.2em;
		line-height: 1;
		white-space: nowrap;
	}
}

@media (max-width: 768px) {
	.nav-header .brand .title,
	.nav-item .label {
		font-size: 24px;
	}

	.nav-item {
		gap: 15px;
	}
}
