#books {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	gap: 20px;
	max-width: calc(300px * 5);
	margin: auto auto;

	.placeholder {
		width: 250px;
		height: 355px;
		border-radius: 15px;
	}
}

.filter {
	position: relative;
	max-width: calc(255px * 5);
	margin: auto auto;
	margin-top: 40px;
	padding: 0 20px;
}

.controller {
	position: relative;
	max-width: calc(255px * 5);
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 20px;
	margin: auto auto;
	z-index: 5;

	.mode-switch {
		display: flex;
		gap: 1rem;

		app-icons {
			cursor: pointer;
			padding: 5px;
			border-radius: 50%;
			border: 2px solid transparent;
			transition: all 0.3s ease;

			&:hover {
				color: var(--primary-color);
			}

			&.active {
				color: var(--primary-color);
				border-color: var(--primary-color);
			}
		}
	}
}

.pages {
	display: flex;
	gap: 8px;
	position: absolute;
	margin: 20px auto;
	left: 50%;
	transform: translateX(-50%);

	.placeholder {
		width: 60px;
		height: 60px;
		border-radius: 15px;

		&::after {
			filter: blur(1rem);
		}
	}

	.page {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		width: 60px;
		height: 60px;
		border-radius: 15px;
		border: 4px solid var(--app-text-color);
		cursor: pointer;
		transition:
			background-color 0.3s ease,
			color 0.3s ease;
		aspect-ratio: 1/1;
		font-size: 1.2rem;

		&.active,
		&:hover {
			background-color: var(--primary-color);
			border-color: var(--primary-color);
			color: var(--app-text-color);
			font-weight: bold;
		}
	}
}

@media (max-width: 600px) {
	.controller {
		flex-direction: column;
		height: auto;
		gap: 10px;

		.pages {
			position: static;
			transform: none;
			margin: 10px 0 0 0;
		}
	}
}
