:host {
	top: 0;
	left: 0;
	z-index: 1000;
}

header {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
	border-bottom: 2px solid var(--app-text-color);
	background-image: var(--degrader);

	.menu-btn {
		background: none;
		border: none;
		cursor: pointer;
		color: var(--app-text-color);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		transition: opacity 0.2s;

		&:hover {
			opacity: 0.7;
		}
	}

	#logo {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: transform 0.3s;

		&.dark-theme {
			transform: translateY(-8px);
		}
	}

	.icons {
		display: flex;
		gap: 0.5rem;

		.user {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	nav {
		display: flex;
		align-items: center;
		gap: 20px;
	}
}
